<section class="container-fluid">
  <div class="row">
    <ul class="nav nav-tabs backAzul ">
      <li class="active" ng-click="setTab(1)">
        <a href="">Planes</a>
      </li>
      <li ng-click="setTab(2)">
        <a href="">Campañas</a>
      </li>
      <li ng-click="setTab(3)">
        <a href="">Logs de usuarios</a>
      </li>
      <li ng-click="setTab(4)">
        <a href="">Configuraciones de cliente</a>
      </li>
      <li ng-click="setTab(5)">
        <a href="">Usuarios</a>
      </li>
      <li ng-click="setTab(6)">
        <a href="">Emails</a>
      </li>
    </ul>
  </div>

  <div ng-show="isSet(1)">
    <div class="row p50">
      <div class="col-lg-2">
        <p class="f16">Total de planes
          <span class="colorB"> 2</span>
        </p>
      </div>
      <div class="col-lg-2">
        <p class="f16">Activos
          <span class="colorB"> 2</span>
        </p>
      </div>
      <div class="col-lg-2">
        <p class="f16">Inactivos
          <span class="colorB"> 2</span>
        </p>
      </div>
      <div class="col-lg-2">
      </div>
      <div class="col-lg-2">
      </div>
      <div class="col-lg-2">
          <button type="button" class="btn btnUno"><i class="fas fa-plus fa-lg"></i></button>
          <div class="dropdown btnDos">
              <button class="btn btnDos" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-cog fa-lg"></i> 
                  <span class="caret"></span>
                </button>
              <ul class="dropdown-menu" aria-labelledby="dLabel">
                  <li><a href="">Item</a></li>
                  <li><a href="">Item</a>
                  </li>
                  <li class="divider"></li>
                  <li><a href="">Item</a></li>
              </ul>
      </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
          <div class="table-responsive">
              <table class="table table-striped" ng-init='configPages()'>
                  <thead>
                      <tr class="titleTable f18">
                          <th class="text-center"><i class="fas fa-flag fa-lg colorR"></i></th>
                          <th class="text-center"></th>
                          <th class="text-center">Nombre <span class="caret colorB"></span></th>
                          <th class="text-center">Monto <span class="caret colorB"></span></th>
                          <th class="text-center">Intervalo de ejecución</th>
                          <th class="text-center">Intervalo de ejecución</th>
                          <th class="text-center">Estatus <span class="caret colorB"></span></th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr class="text-center f16" ng-repeat='dato in data | startFromGrid: currentPage * pageSize | limitTo: pageSize' , ng-click='seleccionarDatos(dato.id)'>
                          <td class="textTabla alignV"> 
                              <div class="custom-checkbox">
                                  <input type="checkbox" id="opcioin" name="opcioin">
                                  <label for="opcioin"></label>
                              </div> 
                          </td>
                          <td><i class="fas fa-thumbtack fa-lg colorR"></i></td>
                          <td class="textTabla alignV">{{dato.nombre}}</td>
                          <td class="textTabla alignV">{{dato.monto}}</td>
                          <td class="textTabla alignV">{{dato.intervalo}}</td>
                          <td class="textTabla alignV">{{dato.ejecucion}}</td>
                          <td class="textTabla alignV"><i class="fas fa-circle fa-lg active"></i> {{dato.estatus}}</td>
                      </tr>
                  </tbody>
              </table>
             <!-- Navegar hacia atrás -->
<div class="pull-right">
    <button class="btn-Pag" type='button' ng-disabled='currentPage == 0' ng-click='currentPage = currentPage - 1'>&laquo;</button>

    <!-- Navegar a una página especifica-->
    <button class="btn-Pag1" type='button' ng-disabled='currentPage == page.no - 1' ng-click='setPage(page.no)' ng-repeat='page in pages'>{{page.no}}</button>
    
    <!-- Navegar hacia adelante -->
     <button class="btn-Pag" type='button' ng-disabled='currentPage >= data.length/pageSize - 1' ng-click='currentPage = currentPage + 1'>&raquo;</button>
                
</div>  
          </div>
      </div>
    </div>
  </div>
  <div ng-show="isSet(2)">
    <h1>CAMPAÑAS</h1>
  </div>
  <div ng-show="isSet(3)">
    <h1>LOGS DE USUARIOS</h1>
  </div>
  <div ng-show="isSet(4)">
    <h1>CONFIGURACIONES DE CLIENTE</h1>  
  </div>
  <div ng-show="isSet(5)">
    <h1>USUARIOS</h1>
  </div>
  <div ng-show="isSet(6)">
    <h1>EMAILS</h1>
  </div>
</section>